<!DOCTYPE html>
<html lang="${#locale.language}"
      xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav(page)" class="navbar navbar-expand-md navbar-dark bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{~/index}"><img th:src="@{~/img/logo.png}" alt="logo"></a>
        <a id="navTitle" href="/index"><h2>TJ.enterprise</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="text-center nav-item">
                    <a th:href="@{~/index}" th:class="'nav-link '+ ${(page == 'index')?'active':''}">Home</a>
                </li>
                <li class="text-center nav-item">
                    <a th:href="@{~/index#shop}" th:class="'nav-link '+ ${(page == 'index#shop')?'active':''}">Shop</a>
                </li>
                <li class="text-center nav-item">
                    <a th:href="@{~/contact}" th:class="'nav-link '+ ${(page == 'contact')?'active':''}">Contact</a>
                </li>
                <li class="text-center nav-item">
                    <a th:href="@{~/cart}" th:class="'nav-link '+ ${(page == 'cart')?'active':''}"><img th:src="@{~/img/cart.png}" alt="Cart" id="whiteCart"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>