/* NAV STYLING */

#whiteCart{
    height: 2rem;
    width: auto;
}

.navbar{
    background-color: teal !important;
    color: white; !important;
}

.nav-link {
    color: white !important;
}

.active{
    font-size: 1.6em !important;
}

/* INDEX STYLING */

h1{
    color: teal;
}

h4{

}

.row{
    text-align: center;
    /*don't use float, or footer will break*/
    /*float: right;*/
    /*and add a div, in row, with whole page content to make place for filter*/
    /*don't set width to 80%*/
    /*sorry for this ^^ but see it as an example, not my rule*/
}

/*Fixed card size*/
.card {
    width: 14rem;
    height: 26rem;
}

/*Fixed card img height, bcs some browsers do scale and offset cards content*/
/*Maybe look for specific size pictures using google img tools, ex: 600x800*/
.card img{
    height: 10rem;
}

/*These make card a lot bigger, consider 1 line titles only*/
/*This fixes double line title offspring for '+' buttons*/
.card-title-container{
    /*padding-bottom: 1rem;*/
}
/*Maybe consider other font(size)?*/
/*This fixes double line comments offspring for '+' buttons*/
.card-body p{
    height: 2rem;
}

#addProductBtn {
    background-color: teal;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 1.2em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    bottom: 0 !important;
}
.addBtn{
    text-align: right !important;
}

/*FORM STYLING*/

#orderForm{
    width: auto;
}

.fieldLabel{
    width: 5rem;
    text-align: left;
}

.orderInputFields{
    width: 15rem;
}

.error{
    color: red;
    font-size: 1.1em;
    font-weight: bolder;
}

#text-input-span{
    width: 50%;
}

#errorSpans{
    width: 50%;
}

.errorSpan{
    height: 2.3rem;
}

/*404 PAGE STYLING*/

#error404{
    height: 22rem;
    width: auto;
}

/*MOBILE STYLING*/

@media (max-width: 768px) {
    #text-input-span{
        width: 100%;
    }

    #errorSpans{
        width: 100%;
    }
}

@media (max-width: 576px) {
    #error404 {
        height: 17rem;
        width: auto;
    }
}