<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(products)}"></nav>
        <!-- CONTENT  -->
        <div class="container-fluid padding text-center">
            <div class="padding">
                <h1>404</h1>
            </div>
            <div>
                <img id="error404" th:src="@{~/img/404.jpg}" alt="404">
            </div>
            <div class="errortextmsg">
                <h2>You tried so hard and got so far. But in the end it doesn't even matter</h2>
            </div>
        </div>
    </div>
    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>