<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(cart)}"></nav>
        <!--  CONTENT  -->
        <div class="container-fluid padding">
            <div class="text-center padding">
                <h1>Cart</h1>
            </div>
            <!-- CART TABLE  -->
            <div class="tableWrapper text-center">
                <table id="cartTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <!--<th></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <!--  TODO : Optional - Add a column with amount and '+' & '-' signs to change it  -->
                    <tr th:each="i : ${nCart.cartContent}">
                        <td th:text="*{i.naam}"></td>
<!--                        <td th:text="*{i.amount}"><a id="minus" href="">-</a><a id="plus" href="">+</a></td>-->
                        <td th:text="*{i.prijs}"></td>
                        <!--  TODO : Add a delete button , need to find object in list first  -->
<!--                        <td>-->
<!--                            <a class="btn" th:href="@{/del}" onclick="return confirm('Are you sure?')">x</a>-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- ORDER FORM  -->
            <div class="formWrapper container-fluid">
                <h4 th:text="#{form_subtitle}"></h4>
                <form th:action="@{~/cart}" method="post" th:object="${nOrder}">
                    <div class="text-input">
                        <label for="customerName" class="fieldLabel" th:text="#{lbl_customerName}"></label>
                        <input type="text" th:field="*{customerName}" id="customerName">
                        <span th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}" class="error"></span>
                    </div>
                    <div class="text-input">
                        <label for="streetName" class="fieldLabel" th:text="#{lbl_streetName}"></label>
                        <input type="text" th:field="*{streetName}" id="streetName">
                        <span th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}" class="error"></span>
                    </div>
                    <div class="text-input">
                        <label for="streetNumber" class="fieldLabel" th:text="#{lbl_streetNumber}"></label>
                        <input type="text" th:field="*{streetNumber}" id="streetNumber">
                        <span th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}" class="error"></span>
                    </div>
                    <div class="text-input">
                        <label for="mailAddress" class="fieldLabel" th:text="#{lbl_mailAddress}"></label>
                        <input type="text" th:field="*{mailAddress}" id="mailAddress">
                        <span th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}" class="error"></span>
                    </div>
                    <!-- SUBMIT ORDER BUTTON  -->
                    <div class="text-center padding">
                        <input type="submit" class="btn" value="Place order">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>