<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(cart)}"></nav>
        <!--  CONTENT  -->
        <div class="container-fluid padding">
            <div class="text-center padding">
                <h1>Cart</h1>
            </div>
            <div class="tableWrapper text-center">
                <table id="cartTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--  TODO : find out how to model cart and/or where to create it-->
                    <tr th:each="cartContent : ${nCart}">
                        <td th:text="${nCart.getCartContent()}"></td>
                        <td th:text="${nCart.getTotalPrice()}"></td>
                        <td>
                            <a class="btn" th:href="|@{nCart.removeItemFromCart(*{product.getNaam}, *{product.getPrijs})}|" onclick="return confirm('Are you sure?')">x</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center padding">
                <form method="get" action="/cart/order">
                    <button type="submit" class="btn">Place Order</button>
                </form>
            </div>
        </div>
    </div>
    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>