<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(cart)}"></nav>
        <!--  CONTENT  -->
        <div class="container-fluid padding">
            <div class="text-center padding">
                <h1>Cart</h1>
            </div>
            <!-- CART TABLE  -->
            <div class="tableWrapper text-center">
                <table id="cartTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <!--<th></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <!--  TODO : find out how to model cart and/or where to create it-->
                    <tr th:each="nProduct : ${nCart.cartContent}">
                        <td th:text="*{nProduct.naam}"></td>
                        <td th:text="*{nProduct.prijs}"></td>
                        <!--<td>
                            <a class="btn" th:href="|@{nCart.removeItemFromCart(*{product.getNaam}, *{product.getPrijs})}|" onclick="return confirm('Are you sure?')">x</a>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- ORDER FORM  -->
            <div class="formWrapper container-fluid">
                <h4 th:text="#{form_subtitle}"></h4>
                <form th:action="@{~/cart/checkout}" method="post" th:object="${nOrder}">
                    <div class="text-input">
                        <label for="id" class="fieldLabel" th:text="#{lbl_orderId}"></label>
                        <span th:if="${#fields.hasErrors('orderId')}" th:errors="*{orderId}" class="error"></span>
                        <input type="text" th:field="*{orderId}" id="id">
                    </div>
                    <div class="text-input">
                        <label for="orderContent" class="fieldLabel" th:text="#{lbl_orderContent}"></label>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{orderContent}" class="error"></span>
                        <textarea th:field="*{orderContent}" id="orderContent"></textarea>
                    </div>
                    <div class="text-input">
                        <label for="deliveryAddress" class="fieldLabel" th:text="#{lbl_deliveryAddress}"></label>
                        <span th:if="${#fields.hasErrors('contact')}" th:errors="*{deliveryAddress}" class="error"></span>
                        <input th:field="*{deliveryAddress}" id="deliveryAddress">
                    </div>
                    <input type="submit" class="btn" th:value="#{btn_send}">
                    <!-- SUBMIT ORDER BUTTON  -->
                    <div class="text-center padding">
                        <button type="submit" class="btn">Place Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>