<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(index)}"></nav>
        <!-- Image Slider -->
        <div id="slides" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/background.jpg" alt="">
                    <div class="carousel-caption">
                    <!--  Stuff inside carousel goes here  -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/background2.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img src="img/background3.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Table to show product as cards-->
        <div id="storeContent" class="container-fluid padding">
            <div class="row">
                <div id="filterTab">
                    <h4 id="shop">Filters</h4>
                    <hr class="light">
                    <p>Category:</p>
                    <a href="/index" th:if="${#httpServletRequest.requestURL!='localhost:8080/index'}">Everything</a><br>
                    <a href="/index/dier">Animals</a><br>
                    <a href="/index/food">Food</a><br>
                    <a href="/index/habitat">Habitats</a><br>
                    <a href="/index/toy">Toys</a>
                    <hr class="light">
                </div>
                <div id="shopTab" class="row padding justify-content-center">
                    <div class="col-xs-12" th:each="product : ${allProducts}">
                        <div class="card" >
                            <img class="card-imd-top" th:src="|@{*{product.productImagePath}}|" alt="hondenKauwBeen">
                            <div class="card-body">
                                <div class="card-title-container">
                                <h4 class="card-title" th:text="*{product.naam}"></h4>
                                </div>
                                <p class="card-price" th:text="*{product.prijs + '&euro;'}"></p>
                                <p class="card-text" th:text="*{product.beschrijving}"></p>
                                <p th:text="*{product.productCategorie}"></p>
                                <div class="addBtn">
                                    <a th:href="@{~/{id} (id=${product.id})}" id="addProductBtn" th:text="'+'"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>