<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--  HEAD  -->
<head th:replace="~{fragments/head::head}"></head>
<!--  PAGE  -->
<body>
<div id="page-container">
    <div id="content-wrap">
        <!--  NAV  -->
        <nav th:replace="~{fragments/nav::nav(index)}"></nav>

        <!-- Table to show product as  cards-->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-3" th:each="product : ${allProducts}">
                    <div class="card" >
                        <img th:src="|@{*{product.productImagePath}}|" alt="hondenKauwBeen">
                        <div class="card-body">
                            <h4 class="card-title" th:text="*{product.naam}"></h4>
                            <p class="card-price" th:text="*{product.prijs}"></p>
                            <p class="card-text" th:text="*{product.beschrijving}"></p>
                            <p th:text="*{product.productCategorie}"></p>
                        </div>
                        <div class="addBtn">
                            <a th:href="@{~/{id} (id=${product.id})}" id="addProductBtn" th:text="'+'"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  FOOTER  -->
    <footer th:replace="~{fragments/footer::footer}"></footer>
</div>
</body>
</html>